<div>
    <h1>Valores pagaré</h1>
    <h3>{{model.addressPagare}}</h3>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form ng-submit="model.saveCapacity()" class="form-inline">
                    <input type="text" class="form-control" placeholder="capacidad" ui-money-mask="0"
                           ng-model="model.capacity" required>
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">
                        Guardar
                    </button>
                    <div class="form-control">{{model.resultCapacity}}</div>
                </form>
                <form ng-submit="model.saveAmount()" class="form-inline">
                    <input type="text" class="form-control" placeholder="monto aprobado" ui-money-mask="0"
                           ng-model="model.amount" required>
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">
                        Guardar
                    </button>
                    <div class="form-control">{{model.resultAmount}}</div>
                </form>
                <form ng-submit="model.savePrice()" class="form-inline">
                    <input type="text" class="form-control" placeholder="valor del pagaré" ui-money-mask="0"
                           ng-model="model.valueCredit" required>
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">
                        Guardar
                    </button>
                    <div class="form-control">{{model.resultPrice}}</div>
                </form>
            </div>
        </div>
    </div>
</div>