<div class="container">
    <h3>{{model.addressPagare}}</h3>
    <div class="row">
        <div class="col-lg-6">
            <h2>Datos pagaré:</h2>
        </div>
        <div class="col-lg-6 right">
            <br>
            <button type="button" class="btn btn-default" ng-click="model.getInit()">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
    </div>
    <hr>
    <div class="col-lg-6">
        <div>
            <label for="pensioner">Pensionado</label>
            <span id="pensioner">{{ model.pensioner }}</span>
        </div>

        <div>
            <label for="owner">Propietario</label>
            <span id="owner">{{ model.owner }}</span>
        </div>

        <div>
            <label for="lender">Entidad Crediticia</label>
            <span id="lender">{{ model.lender }}</span>
        </div>

        <div>
            <label for="operator">Operador</label>
            <span id="operator">{{ model.operator}}</span>
        </div>

        <div>
            <label for="company">Compañia</label>
            <span id="company">{{ model.company}}</span>
        </div>

        <div>
            <label for="capacity">Cupo crédito</label>
            <span id="capacity">{{ model.capacity | currency : "$ " : 0}}</span>
        </div>

        <div>
            <label for="amount">Saldo</label>
            <span id="amount">{{ model.amount | currency : "$ " : 0}}</span>
        </div>

        <div>
            <label for="price">Precio inicial del crédito</label>
            <span id="price">{{ model.price | currency : "$ " : 0}}</span>
        </div>

        <div>
            <label for="salesValue">Precio venta</label>
            <span id="salesValue">{{ model.salesValue | currency : "$ " : 0}}</span>
        </div>


    </div>
    <div class="col-lg-6">
        <h4>Pagar couta</h4>
        <form ng-submit="model.saveFee()" role="form" name="form">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="cuota" placeholder="Valor cuota" ui-money-mask="0"
                           ng-model="model.cuota" required>
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">
                        Pagar
                    </button>
                    <div class="form-control">{{model.resultFee}}</div>
                </div>
            </div>
        </form>
        <hr>
        <h4>Cambiar propietario</h4>
        <form ng-submit="model.saveSale()" role="form" name="formSale">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="nuevo propietario" ng-model="model.inversionista"
                       required disabled>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Precio venta" ng-model="model.salesValue"
                           ui-money-mask="0"
                           required>
                    <select class="form-control" ng-model="model.inversionista">
                        <option ng-repeat="x in model.inversionistas" value="{{x.addressBchain}}">{{x.name}}</option>
                    </select>
                    <button type="submit" ng-disabled="formSale.$invalid || dataLoading" class="btn btn-danger">
                        Venta
                    </button>
                    <div class="form-control">{{model.resultSale}}</div>
                </div>
            </div>
        </form>
    </div>
</div>