<div>
    <h1>Crear pagaré</h1>
    <h3>Entidades</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form ng-submit="model.create()" role="form" name="form">
                    <div class="form-group">
                        <label for="pensioner">Pensionado</label>
                        <input type="text" class="form-control" id="pensioner" placeholder="address pensioner"
                               ng-model="model.pensioner" required>
                    </div>
                    <div class="form-group">
                        <label for="owner">Propietario del pagaré</label>
                        <input type="text" class="form-control" id="owner" placeholder="addres owner"
                               ng-model="model.lender" required>
                    </div>
                    <div class="form-group">
                        <label for="lender">Entidad crediticia</label>
                        <input type="text" class="form-control" id="lender" placeholder="address crediticia"
                               ng-model="model.lender" required>
                    </div>
                    <div class="form-group">
                        <label for="operator">Operador</label>
                        <input type="text" class="form-control" id="operator" placeholder="address operator"
                               ng-model="model.operator" required>
                    </div>
                    <div class="form-group">
                        <label for="company">Compañia</label>
                        <input type="text" class="form-control" id="company" placeholder="address company"
                               ng-model="model.company" required>
                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">
                            Guardar
                        </button>
                    </div>
                    <hr>
                    <div data-ng-show="model.showError" ng-class="{fade:model.doFade}" class="alert alert-success">
                        <strong>Success:</strong> {{model.message}}
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="selectPensioner">Pensionados diponibles</label>
                    <select class="form-control" id="selectPensioner" ng-model="model.pensioner">
                        <option ng-repeat="x in model.pensioners" value="{{x.addressBchain}}">{{x.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectCrediticia">Crediticias disponibles</label>
                    <select class="form-control" id="selectCrediticia" ng-model="model.lender">
                        <option ng-repeat="y in model.lenders" value="{{y.addressBchain}}">{{y.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectOperators">Operadores disponibles</label>
                    <select class="form-control" id="selectOperators" ng-model="model.operator">
                        <option ng-repeat="z in model.operators" value="{{z.addressBchain}}">{{z.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectCompanies">Compañias disponibles</label>
                    <select class="form-control" id="selectCompanies" ng-model="model.company">
                        <option ng-repeat="a in model.companies" value="{{a.addressBchain}}">{{a.name}}</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
</div>